<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<!-- Navigation -->
<div th:if="${user}">
<nav th:fragment="navigation" class="navbar navbar-expand-md navbar-light bg-light fixed-top">


    <div class ="container-fluid">
        <a class="navbar-brand" href="/"><img src="https://s3-us-west-2.amazonaws.com/artcircle.com/ArtCircle.png"></img></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link scroll" href="#slides">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll" href="#about">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">Services</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown_target">
                        <a href="/create" class="dropdown-item">Create an Opportunity</a>
                        <div class="dropdown-divider"></div>
                        <a href ="/search" class="dropdown-item">Search for an Opportunity</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll" href="#team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>

</nav>
</div>
<div th:unless="${user}">
    <nav th:fragment="navigation" class="navbar navbar-expand-md navbar-light bg-light fixed-top">


        <div class ="container-fluid">
            <a class="navbar-brand" href="/"><img src="https://s3-us-west-2.amazonaws.com/artcircle.com/ArtCircle.png"></img></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link scroll" href="#slides">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="#about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">Services</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown_target">
                            <a href="/create" class="dropdown-item">Create an Opportunity</a>
                            <div class="dropdown-divider"></div>
                            <a href ="/search" class="dropdown-item">Search for an Opportunity</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="#team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
</div>


<!--- Image Slider -->

<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
<div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://s3-us-west-2.amazonaws.com/artcircle.com/audio-bokeh-bright-144429.jpg"/>
        <div class="carousel-caption">

            <h2>ArtCircle</h2>
            <h3>Where Opportunities Find You</h3>
            <a href="/login"><button type="button" class="btn btn-outline-light btn-lg">Log In</button></a>
            <a href="/register"><button type="button" class="btn btn-primary btn-lg">Create an Account</button></a>

        </div>
    </div>
    <div class="carousel-item">
        <img src="https://s3-us-west-2.amazonaws.com/artcircle.com/audience-back-view-band-442540.jpg"/>
        <div class="carousel-caption">
            <h2>Collaborate</h2>
            <a href="/login"><button type="button" class="btn btn-outline-light btn-lg">Log In</button></a>
            <a href="/register"><button type="button" class="btn btn-primary btn-lg">Create an Account</button></a>
        </div>
    </div>
    <div class="carousel-item">
        <img src="https://s3-us-west-2.amazonaws.com/artcircle.com/active-adult-artist-358010.jpg"/>
        <div class="carousel-caption">
            <h2>Move</h2>
            <a href="/login"><button type="button" class="btn btn-outline-light btn-lg">Log In</button></a>
            <a href="/register"><button type="button" class="btn btn-primary btn-lg">Create an Account</button></a>
        </div>
    </div>
</div>
</div>



<!--- Jumbotron -->

<div class="container-fluid">
<div class="row jumbotron">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
        <p class="lead">A web service that allows
            individuals and organizations to turn their artistic
            possibilities into artistic realities. <i>Anywhere</i>.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2" id="about">
        <a href="/search"><button type="button" class="btn btn-outline-secondary btn-lg">View Opportunities</button></a>
    </div>
</div>
</div>


<!--- Welcome Section -->
<div class="container-fluid padding">
<div class="row welcome text-center">
    <div class="col-12">
        <h1 class="display-4">Serving you with ease.</h1>
    </div>
    <hr></hr>
    <div class="col-12">
        <p class="lead">Welcome to ArtCircle! ArtCircle is a free resource designed
        for both job and talent-seekers for any occasion.</p>
    </div>
</div>
</div>


<!--- Three Column Section -->
<div class="container-fluid padding">
<div class="row text-center padding">
    <div class="col-xs-12 col-sm-6 col-m-3 col-md-4">
    <div class="artistbox">
        <i class="fas fa-paint-brush">
        </i>
        <h3>All Artists</h3>
        <p>Performance, Visual, all artists are welcome here.</p>
    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-m-3 col-md-4">
    <div class="opportunitybox">
        <a href="/create"><i class="fa fa-handshake"></i></a>
        <h3>Create an Opportunity</h3>
        <p>Need to fill a spot for your summer festival, show-stopping production, wedding, or
        any other need? Look no further.</p>
    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-m-3 col-md-4">
    <div class ="searchbox">
        <a href="/search"><i class="fa fa-search"></i></a>
        <h3>Search</h3>
        <p>Find an opportunity that matches your skill set.</p>
    </div>
    </div>
</div>
    <hr class="my-4"></hr>
</div>


<!--- Two Column Section -->
<div class="container-fluid padding">
<div class="row padding">
    <div class="col-md-12 col-lg-6">
    <div class="ifyoubuildbox">
        <h2>This is a neat block...</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto fugit ipsa iusto molestiae quia ut!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem debitis dignissimos fugiat harum id illum iste labore magnam maxime neque nihil nobis, optio perspiciatis porro quaerat reiciendis repellendus sint unde voluptatibus. At corporis, culpa dignissimos dolore eaque eum explicabo inventore quasi. Animi ipsa, quae.</p>
        <br></br>
        <a href="#" class="btn btn-primary">Learn More</a>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="ifyoubuildpicbox">
        <img src="https://s3-us-west-2.amazonaws.com/artcircle.com/desk.png" class="img-fluid"></img>
    </div>
    </div>
</div>
</div>

<hr class="my-4"></hr>
<!--- Fixed background -->
<figure>

    <div class="fixed-wrap">
        <div id="fixed">
        </div>
    </div>
</figure>


<!--- Emoji Section -->
<button class="fun" data-toggle="collapse" data-target="#emoji">click for fun</button>
<div id="emoji" class="collapse">
    <div class="container-fluid padding">
    <div class="row text-center">

        <div class="col-sm-6 col-md-3">
            <img class="gif" src="https://s3-us-west-2.amazonaws.com/artcircle.com/panda.gif"/>
        </div>
        <div class="col-sm-6 col-md-3">
            <img class="gif" src="https://s3-us-west-2.amazonaws.com/artcircle.com/poo.gif"/>
        </div>
        <div class="col-sm-6 col-md-3">
            <img class="gif" src="https://s3-us-west-2.amazonaws.com/artcircle.com/unicorn.gif"/>
        </div>
        <div class="col-sm-6 col-md-3">
            <img class="gif" src="https://s3-us-west-2.amazonaws.com/artcircle.com/chicken.gif"/>
        </div>

    </div>
    </div>
</div>

<!--- Meet the team -->
<div class="container-fluid padding" id="team">
<div class="row welcome text-center">
    <div class="col-12">
        <h1 class="display-4">Meet the Team</h1>
    </div>
    <hr/>

</div>
</div>


<!--- Cards -->
<div class="container-fluid padding">
<div class="row padding">
    <div class="col-md-4">
        <div class="card" id="card1">

            <img class="card-img-top" src="https://s3-us-west-2.amazonaws.com/artcircle.com/team2.png"/>
            <div class="card-body">
                <h4 class="card-title">Mary Jo</h4>
                <p class="card-text">Mary Jo the perfect demo team member.</p>
                <a href="#" class="btn btn-outline-secondary">See Profile</a>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="card" id="card2">

            <img class="card-img-top" src="https://s3-us-west-2.amazonaws.com/artcircle.com/jaydecardpic.jpg"/>
            <div class="card-body">
                <h4 class="card-title">Jayde Mitchell</h4>
                <p class="card-text">Jayde Mitchell is a new software engineer with a passion and drive to deliver the absolute best.</p>
                <a href="#" class="btn btn-outline-secondary">See Profile</a>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="card" id="card3">

            <img class="card-img-top" src="https://s3-us-west-2.amazonaws.com/artcircle.com/team3.png"/>
            <div class="card-body">
                <h4 class="card-title">Phil Ho</h4>
                <p class="card-text">Phil Ho is such a great guy. He juggles on the weekend.</p>
                <a href="#" class="btn btn-outline-secondary">See Profile</a>

        </div>
        </div>
    </div>

</div>

</div>

<!--- Two Column Section -->

<div class="container-fluid padding">
<div class="row padding">
    <div class="col-lg-6">
        <h2>Our Philosophy</h2>
        <p>We know that greatness in a disruptive era requires bold ambition,
        curious talent, and a culture that believes we're smarter together.</p>
        <p>We approach every challenge holistically, with best-in-class expertise
        in data, creativity, media, technology, search, social and more. We call this Alchemy.
        It has the power to build our clients' brands and transform their business. And while
        it may seem like magic, we've got it down to a science.</p>
        <br/>
    </div>
    <div class="col-lg-6">
        <img src="https://s3-us-west-2.amazonaws.com/artcircle.com/bootstrap2.png" class="img-fluid"/>
    </div>

</div>
    <hr class="my-4"/>
</div>

<!--- Map -->
<div class="container-fluid padding">
<div class = "row padding">
    <div class="col-lg-7">

        <div id="map-container" class="map-container" style="height: 500px;"></div>

    </div>
    <div class = "col-lg-5">
        <p>Hi! This is a map I built to test connecting to the Google Maps API! Soon, you'll be able to link up any opportunities you post to Google and display
        your location on the map!</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, amet asperiores beatae mollitia nisi quaerat recusandae sit! Ea, ipsa, maxime!</p>
    </div>


</div>
    <hr class="my-4"/>
</div>


<!--- Connect -->
<div class="container-fluid padding">
<div class="row text-center padding">
    <div class="col-12" id="connect">
        <h2>Connect</h2>
    </div>
    <div class="col-12 social padding">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-facebook" id="facebook"></i></a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-twitter" id="twitter"></i></a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-google-plus-g" id="google"></i></a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-instagram" id="insta"></i></a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-youtube" id="youtube"></i></a>
    </div>
</div>
</div>


<!--- Footer -->

<footer>
    <div class="container-fluid padding">
    <div class="row text-center">
        <div class="col-md-4">
            <img src="https://s3-us-west-2.amazonaws.com/artcircle.com/ArtCircle.png"/>
            <hr class="light"/>
            <p>970-442-0108</p>
            <p><a href="mailto:jed93_@hotmail.com.com">jed93_@hotmail.com</a></p>
            <p>Top Secret HQ</p>
            <p>Saint Louis, MO 63130</p>
        </div>
        <div class="col-md-4">
            <hr class="light"/>
            <h5>Our Hours</h5>
            <hr class="light"/>
            <p>Monday: 9am-5pm</p>
            <p>Saturday: 10am-4pm</p>
            <p>Sunday: Closed</p>
        </div>
        <div class="col-md-4">
            <hr class="light"/>
            <h5>About Us</h5>
            <hr class="light"/>
            <p><a href="http://jaydemitchell.com">jaydemitchell.com</a></p>
            <p><a href="http://barnhaus.farm">Barnhaus</a></p>
        </div>
        <div class="col-12">
            <hr class="light-100"/>
            <h5>&copy; Barnhaus</h5>
        </div>
    </div>
    </div>
</footer>

<!--Google Maps Settings-->

<script type="text/javascript">
// Initialize and add the map

function initMap() {

  // The location of St. Louis

  var stl = {lat: 38.6270025, lng: -90.19940419999999};

  // The map, centered at St. Louis

  var map = new google.maps.Map(
      document.getElementById('map-container'), {zoom: 12, center: stl});

/*
  // The marker, positioned at St. Louis

  var marker = new google.maps.Marker({position: stl, map: map});

  var infoWindow = new google.maps.InfoWindow({
  content: '<h1>This is a marker</h1>'
  });

  marker.addListener('click', function(){
  infoWindow.open(map, marker);
  });

*/

  addMarker({coords:{lat: 38.6270025, lng: -90.19940419999999}});

  // Add Marker Function

  function addMarker(props){
    var marker = new google.maps.Marker({
        position: props.coords,
        map: map});

    }



}
    </script>

<!--ScrollReveal -->
<script type="text/javascript">
    ScrollReveal().reveal('.navbar', {
        duration: 2000,
        origin:'bottom'
    });

    ScrollReveal().reveal('.artistbox', {
        delay: 150,
        duration: 2500,
        distance: '100px',
        origin: 'left'
    })

       ScrollReveal().reveal('.carousel-caption h3', {
        delay: 150,
        duration: 2500,
        distance: '100px',
        origin: 'left'
    })

     ScrollReveal().reveal('.opportunitybox', {
        delay: 150,
        duration: 2500,
        distance: '50px',
        origin: 'bottom'
    })

    ScrollReveal().reveal('.searchbox', {
        delay: 150,
        duration: 2500,
        distance: '100px',
        origin: 'right'
    })

    ScrollReveal().reveal('.ifyoubuildbox', {
        delay: 500,
        duration: 2500,
        distance: '50px',
        origin: 'left'
    })

    ScrollReveal().reveal('.ifyoubuildpicbox', {
        delay: 800,
        duration: 2500,
        distance: '50px',
        origin: 'right'
    })

    ScrollReveal().reveal('#card1', {
        delay: 250,
        duration: 2500,
        distance: '50px',
    })

     ScrollReveal().reveal('#card2', {
        delay: 500,
        distance: '50px',
    })

     ScrollReveal().reveal('#card3', {
        delay: 750,
        distance: '50px',

    })

     ScrollReveal().reveal('#connect', {
        delay: 250

    })

    ScrollReveal().reveal('#facebook', {
        delay: 500

    })

    ScrollReveal().reveal('#twitter', {
        delay: 700

    })


    ScrollReveal().reveal('#google', {
        delay: 900

    })

    ScrollReveal().reveal('#insta', {
        delay: 1100

    })

    ScrollReveal().reveal('#youtube', {
        delay: 1300

    })
</script>

<!--smooth scrolling -->
<script th:inline="javascript" >

    /*<![CDATA[*/

    $(document).ready(function() {

        var scrollLink = $('.scroll');

        //smooth scrolling

        scrollLink.click(function(e){
           e.preventDefault();
           $('body,html').animate({

                scrollTop: $(this.hash).offset().top

           }, 1000 )
        });

        // Active navbar link switching

        $(window).scroll(function() {
            var scrollbarLocation = $(this).scrollTop();

            scrollLink.each(function() {

                var sectionOffset = $(this.hash).offset().top - 20;

                if (sectionOffset <= scrollbarLocation) {

                   $(this).parent().addClass('active');
                   $(this).parent().siblings().removeClass('active');

                }

            })


    })

})

    /*]]>*/

</script>

<!--Google Maps -->
<script type="text/javascript" async="async"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo0YbOrRomALoPvicX7_U4hvhVF8Pk77c&amp;callback=initMap"/>

</body>
</html>



