<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">


<nav th:fragment="navigation" class="navbar navbar-expand-md navbar-light bg-light sticky-top">


    <div class ="container-fluid">
        <a class="navbar-brand" href="#"><img src="http://localhost:5000/src/main/resources/templates/img/ArtCircle.png"></img></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">Services</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown_target">
                        <a href="/create" class="dropdown-item">Create an Opportunity</a>
                        <div class="dropdown-divider"></div>
                        <a href ="/search" class="dropdown-item">Search for an Opportunity</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>

</nav>

<div id="slides" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active text-center">
            <img src="http://localhost:5000/src/main/resources/templates/img/audio-bokeh-bright-144429.jpg"/>
            <div class="carousel-caption">
                <h1 class="display-2">ArtCircle</h1>
                <form method="post"  th:object="${loginForm}">
                    <div class="form-group">
                        <label th:for="username">Username</label>
                        <input class="form-control" th:field="*{username}" />
                        <div class="error" th:errors="*{username}"></div>
                    </div>
                    <div class="form-group">
                        <label th:for="password">Password</label>
                        <input class="form-control" th:field="*{password}" type="password" />
                        <div class="error" th:errors="*{password}"></div>
                    </div>

                    <button type="submit" class="btn btn-primary" value="Log In">Log In!</button>
                </form>
                <h6>Don't have an account? <a href="/register">Register.</a></h6>
            </div>
        </div>

    </div>
    </div>
</body>
</html>