<!DOCTYPE html>
<html>
<head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
</head>
<body>
<h3>My Google Maps Demo</h3>
<!--The div element for the map -->
<div id="map"></div>
<script>
// Initialize and add the map

function initMap() {

  // The location of Uluru

  var uluru = {lat: -25.344, lng: 131.036};

  // The map, centered at Uluru

  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 5, center: uluru});

/*
  // The marker, positioned at Uluru

  var marker = new google.maps.Marker({position: uluru, map: map});

  var infoWindow = new google.maps.InfoWindow({
  content: '<h1>This is a marker</h1>'
  });

  marker.addListener('click', function(){
  infoWindow.open(map, marker);
  });

*/

  addMarker({coords:{lat: -25.344, lng: 131.036}});

  // Add Marker Function

  function addMarker(props){
    var marker = new google.maps.Marker({
        position: props.coords,
        map: map});

    }



}
    </script>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script async="async"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo0YbOrRomALoPvicX7_U4hvhVF8Pk77c&amp;callback=initMap">
</script>
</body>
</html>