<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">


<nav th:replace="fragments :: navigation"></nav>

<table class="table">

    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Type</th>
        <th>Posted By</th>
    </tr>

    <tr th:each="opportunity : ${opportunities}">
        <td><a th:href = "'/opportunity?id=' + ${opportunity.id}" th:text="${opportunity.title}"></a></td>
        <td th:text="${opportunity.location}"></td>
        <td th:text="${opportunity.category.name}"></td>
        <td><a th:href = "'/user?displayname=' + ${opportunity.author} + '&amp;id=' + ${opportunity.user.id}" th:text="${opportunity.user.displayname}"></a></td>
    </tr>

</table>


</body>
</html>